    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="videos/main-banner.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>Federation  Tunisienne <em>d'halterophilie</em></h2>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->