   <!-- ***** Header Area Start ***** -->
   <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">Federation  Tunisienne<em> d'halterophilie</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#features">A propos</a></li>
                        <li class="scroll-to-section"><a href="#our-classes">Events</a></li>
                        <li class="scroll-to-section"><a href="#schedule">Calendrier</a></li>
                        <li class="scroll-to-section"><a href="/contact-us">Contact</a></li> 
                        <li class="scroll-to-section"><a href="#top" class="active">Galerie</a></li>

                        <li class="main-button"><a href="/auth">Sign Up</a></li>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->